<% @messages.each do |m| %>
    <div class="message">
        <strong><%= m.user.name %> <%= m.user.lastname %></strong> dijo:
        <%= m.body %>
        <br>
        <small>el <%= l m.created_at, format: :short %></small>
        <hr>
    </div>
<% end %>
