<div class="group-index under-nav">
  <div class="group-inner">
    <% if @spanish %>
      <%= render "assignments/show_es.html.erb" %>
    <% else %>
      <%= render "assignments/show_en.html.erb" %>
    <% end %>
  </div>
</div>