<div class="comments-all" id="<%= locals[:forum]%><%= locals[:chat].id %>">
    <% for comment in @comments.where(commentable: locals[:chat]) %>
        <p><%= comment.user.name %> dijo: <%= comment.text %></p>
    <% end %>
</div>