
<div class="folder-index">
    <% @searched_user = check_user(current_user) %>
    <div>
        <% for @folder in @folders %>
            <table class="folders-table">
                <tr class="folder-names">
                    <td><i class="fas fa-angle-double-down papers-text"></i></td>
                    <td><i class="fas fa-archive"></i></td>
                    <td><%= @folder.name %></td>
                    <% if @searched_user == Admin %>
                        <td><i class="fas fa-plus-square folders"></i></td>
                        <td>
                            <%= link_to folder_path(@folder.id), :method => "delete"  do %>
                                <i class="fas fa-trash-alt"></i>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><%= render "papers/form", locals: { folder: @folder, user: @searched_user } %></td>
                </tr>
                <%= render "papers/papers" %>
            </table>
        <% end %>
    </div>
</div>