<%= form_for :folder, url: folders_path do |f| %>
    <p>
        <%= f.label :nombre %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.submit "Adjuntar Carpeta" %>
    </p>
<% end %>