<%= form_for :student, url: student_path(Student.find_by(user: current_user)), method: "put" do |f| %>
    <p>
        <%= f.file_field :avatar %>
    </p>
    <p>
        <%= f.submit "Guardar Foto" %>
    </p>
<% end %>