<div class="group-index">
  <div class="new-student group-inner">
    <% if @error %>
      <h1><%= @error %></h1>
      <br>
    <% end %>
    <% if @spanish %>
      <%= render "new_es.html.erb" %>
    <% else %>
      <%= render "new_en.html.erb" %>
    <% end %>
  </div>
</div>