<div class="group-index">
  <div class="new-student group-inner">
    <% if @error %>
      <h1><%= @error %></h1>
      <br>
    <% end %>
    <div class="comunidad-index">
      <h3>Bienvenido <%= current_user.name %> <%= current_user.lastname %></h3>
      <br>
      <p>En esta comunidad, ofrecemos la oportunidad de crecimiento en varios sentidos como: 
          Mejores ideas, mayor información, experiencia, conocimiento y una de las mas importantes 
          es la visión distinta de cada usuario, la cual nos permite enriquecernos en nuestra 
          manera de pensar y resolver nuestros problemas y necesidades
      </p>
      <p>Ayuda a la organización, siendo parte de nuestra comunidad con una pequeña donación 
        de $ 1 dolar al mes o bien $ 12 dolares por todo el año para tu membrecia
      </p>
    </div>
  </div>
</div>