<div class="article-title">
  <p> Superate y Triunfa Weekly</p>
</div>
<div>
  <% if @searched_user == Admin %>
    <div class="articel-links-to-mail">
      <p><%= link_to "Create new article", new_article_path %> </p>
      <p><%= link_to "Send weekly email", model_mailer_index_path %></p>
    </div> 
  <% end %>
</div>