<div>
  <%= link_to @space.name, space_path(@space), class: "btn btn-sm space-button" %>
  <% searched_user = check_user(current_user) %>
  <% if searched_user == Admin %>
    <%= link_to space_path(@space), :method => "delete" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>