<div class="under-nav">
    <h4>Todos mis Cursos gruaduados:</h4>
    <ul>
        <% for group in points_per_course %>
            <li><%= group.course.name %></li>
        <% end %>
    </ol>
</div>