<div class="under-nav">
    <h4>Todos mis Cursos graduados:</h4>
    <ul>
        <% points_per_course.each do |group| %>
            <li><%= group.course.name %></li>
        <% end %>
    </ol>
</div>