<div class="library-index">
<h2>Bibiloteca</h2>
    <p class="create-new-folder-text">Crear una nueva carpeta</p>
    <div class="create-new-folder">
        <%= render "folders/new" %>
    </div>
    <div class="all-folders">
        <%= render "folders/all" %>
    </div>
   
</div>