<div class="com-student">
  <div>
    <%= link_to new_student_path do %>
      <p>Ir a classes</p>
      <%= image_tag "school.png", class: "image-com-stud" %>
    <% end %>
  </div>
  <div>
    <%= link_to  do %>
      <p>Ir a la comunidad</p>
      <%= image_tag "community.png", class: "image-com-stud" %>
    <% end %>
  </div>
</div>

