<div class="com-student">
  <% if @language %>
    <%= render "welcome/community_or_student_es.html.erb" %>
  <% else %>
    <%= render "welcome/community_or_student_en.html.erb" %>
  <% end %>
</div>

