<div id="courselink"></div>
<br>
<div>
  <div class="courses-title">
    <h1>Cursos</h1>
  </div>
  <div id="courses">
    <% @course.each do |course| %>
      <div class="items-courses">
      <div><p><%= course.name %></p></div>
        <div>
          <%= link_to new_user_session_path do %>
            <%= image_tag(course.avatar.url, :class => "course-img") %>
          <% end %>
        </div>
        <div class="course-text-desc"></div> 
      </div>
    <% end %>
  </div>
</div>