<div id='courselink' class='title-course-one'></div>
<div class='course-general'>
  <div class='title-course-two'>
    <h1>CURSOS</h1>
  </div>
  <div class='course-images'>
    <div class='image-text-course'>
      <div><%= image_tag('course-inline.png', class: 'image-grad-book') %></div>
      <div class='text-text-course'>
        <p>Curso-Basico</p>
        <%= link_to "Leer más", new_user_session_path, class: "btn btn-sm link-button-course" %>
      </div>
    </div>
    <div class='course-line'></div>
    <div class='image-text-course'>
      <div><%= image_tag('curso-online.png', class: 'image-grad-book') %></div>
      <div class='text-text-course'>
        <p>Word-Intermedio</p>
        <%= link_to "Leer más", new_user_session_path, class: "btn btn-sm link-button-course" %>
      </div>
    </div>
  </div>
</div>
