<footer>
	<div class="text-center footer">
		<%= link_to ("https://www.linkedin.com/in/matthias-haefeli/"), target: "_blank" do %>
			<p><i class="fa fa-pencil" aria-hidden="true"></i> and <i class="fa fa-code" aria-hidden="true"></i> by Matthias </p>
		<% end %>
	</div>
</footer>