<footer>
	<div class="text-center footer">
		<%= link_to ("https://www.linkedin.com/in/matthias-haefeli/"), target: "_blank" do %>
			<p><i class="fas fa-angle-double-left"></i> <i class="fas fa-pen-square"></i>Mat<i class="fas fa-angle-double-right"></i></p>
		<% end %>
	</div>
</footer>