<footer>
	<div class="text-center footer">
		<%= link_to ("https://www.linkedin.com/in/matthias-haefeli/"), target: "_blank" do %>
			<p><%= image_tag "myinverse.ico"%></p>
		<% end %>
	</div>
</footer>