<footer>
	<div class="text-center footer">
		<%= link_to ("https://www.linkedin.com/in/matthias-haefeli/"), target: "_blank" do %>
			<p><i class="fas fa-angle-double-left"></i> <i class="fas fa-pen-square"></i> <i class="fas fa-question"></i> <i class="far fa-hand-point-right"></i> <i class="fab fa-medium-m"></i> <i class="fas fa-font"></i> <i class="fab fa-tumblr"></i> <i class="fas fa-angle-double-right"></i></p>
		<% end %>
	</div>
</footer>