<div class='links-title' id='linkslink'>
  <h1>LINKS</h1>
</div>
<div class='link-images'>
  <div class='links-responsive'>
    <%= link_to 'https://www.parentsalliance.org/', :target => "_blank" do %>
      <%= image_tag 'parents.png', :class => "links-imag" %>
    <% end %>
  </div>
    <div class='links-responsive'>
    <%= link_to '#', :target => "_blank" do %>
      <%= image_tag 'youandme.png', :class => "links-imag" %>
    <% end %>
  </div>
</div>