<div class='ressourse-title' id="ressourcen"><h1>RECURSOS</h1></div>
<div class='course-images'>
  <div class='image-text-ressource'>
    <div><%= image_tag('security.png', class: 'image-grad-book responsive-image') %></div>
    <div class='text-text-course'>
      <p>Seguridad<br>en Internet</p>
      <%= link_to "Leer más", root_path, class: "btn btn-sm link-button-course" %>
    </div>
  </div>
  <div class='image-text-ressource'>
    <div><%= image_tag('bulling.jpg', class: 'image-grad-book responsive-image') %></div>
    <div class='text-text-course'>
      <p>Acoso escolar<br>/Bulling</p>
      <%= link_to "Leer más", root_path, class: "btn btn-sm link-button-course" %>
    </div>
  </div>
</div>