<div class='welcome-title spanish'>
  <h3>BIENVENIDO AL PORTAL EDUCATIVO</h3>
  <h3>DE SUPERATE Y TRIUNFA</h3>
</div>
<div class='welcome-title english change-language'>
  <h3>WELCOME TO THE EDUCATIONAL PORTAL</h3>
  <h3>OF SUPERATE Y TRIUNFA</h3>
</div>
<div class='welcome-text'>
  <div class='text-welcome'>
    <p class="spanish">
      Atrevete a vivir una experiencia que te permitirá aprender y practicar dentro de nuestra red con
      diferentes<span> cursos básicos e intermedios de Micrsosoft Office y educación financiera de
      manera activa y participativa</span>. Nuestro sistema esta diseñado para que puedas navegar fácilmente
      , además contamos con un plan de estudio que te guiara paso a paso durante tu proceso de aprendizaje.
    </p>
    <p class="english change-language">
      Dare to live an experience that will allow you to learn and practice within our network with different
      <span>basic and intermediate courses of Micrsosoft Office and financial education in an active and 
      participative way</span>. Our system is designed so you can easily navigate, we also have a study plan that
      will guide you step by step during your learning process
    </p>
  </div>
  <div class='image-welcome'>
     <%= image_tag('otherbooks.png', class: 'image-grad-book') %>
  </div>
  <div class='image-welcome'>
    <%= image_tag('book_grad.png', class: 'image-grad-book') %>
  </div>
</div>
<div class='welcome-text'>
  <div class='text-welcome2'>
    <p class="spanish">
    En <span>Superate y Triunfa</span> tenemos para ti la mejor herramienta educativa en donde
    podrás disponer de un servicio de atención personalizada para resolver todas tus dudas
    y conocer los recursos con los que puedes contar para involucrarte en la educación de tus hijos, adaptarte
    a los nuevos métodos de aprendizaje digital e informate con artículos de tu interés
  </p>
  <p class="english change-language">
    In <span>Superate y Triunfa</span> we have for you the best educational tool where you can have
    a personalized attention service to solve all your doubts and know the resources you
    can count on to get involved in the education of your children, adapt to the new
    methods of digital learning and inform yourself with articles of your interest
  </p>
  </div>
  <div class='hide-button'>
    <%= link_to "!Bienvenidos!", new_user_session_path, class: "button spanish" %>
    <%= link_to "!Welcome!", new_user_session_path, class: "button english change-language" %>
  </div>
</div>