<div id="index-home">
  <div class="program">
    <div class="program-child" contenteditable="true">
      <h4><%= @sentence.title %></h4>
      <p>
        <strong><%= @sentence.body %></strong>
      </p>
    </div>
  </div>
</div>