<% if (Teacher.find_by(user: current_user)).activ %>
  <% if @spanish %>
    <%= render "teacher_index_es.html.erb" %>
  <% else %>
    <%= render "teacher_index_en.html.erb" %>
  <% end %>      
<% else %>
  <h1><%= @spanish ? "Este Instructor no es activo. Porfavor contactar a" : "This teacher is not activ. Please contact" %>
  <%= link_to "Supérate y Triunfa", "http://www.juntospodemos.org/", :target => "_blank" %> !</h1>
<% end %>