<div class="under-nav container">
  <%= link_to "Regresar al calendario", calendars_path %>
  <h3><%= @event.name %></h3>
  <h3><%= @event.start_time %></h3>
  <h3><%= @event.description %></h3>
</div>