<div class="under-nav group-index">
  <div class="community-index">
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <%= render "spaces/back_community_button" %>
      <% if @spanish %>
        <h1>Gramática:</h1>
      <% else %>
        <h1>Grammar:</h1>
      <% end %>
      <div>
        <div>
          <input type="radio" id="en" name="drone" checked />
          <label for="en">English</label>
        </div>
        <!-- <div>
          <input type="radio" id="es" name="drone" />
          <label for="es">Espanol</label>
        </div> -->
        <div id="text-grammar">
          <textarea rows="4" cols="45" class="textarea"></textarea>
        </div>
        <div class="button-div">
          <button type="button" class="grammar-button">
          <% if @spanish %>
            Verificar la gramática
          <% else %>
            Verify the grammar
          <% end %>
          </button>
        </div>
        <div id="errors"></div>
        <div><h3 id="text-checked"></h3></div>
      </div>
    </div>
  </div>
</div>