<div class="under-nav group-index">
  <div class="group-inner">
    <p><%= link_to "Regresar a la comunidad", publications_path, class: "btn btn-sm back-button" %></p>
    <h1>Gramática:</h1>
    <div>
      <div>
        <input type="radio" id="en" name="drone" checked />
        <label for="en">Ingles</label>
      </div>
      <!-- <div>
        <input type="radio" id="es" name="drone" />
        <label for="es">Espanol</label>
      </div> -->
      <div id="text-grammar">
        <textarea rows="4" cols="45" class="textarea"></textarea>
      </div>
      <div class="button-div">
        <button type="button" class="grammar-button">Verificar la gramática</button>
      </div>
      <div id="errors"></div>
      <div><h3 id="text-checked"></h3></div>
    </div>
  </div>
</div>