<div class="under-nav group-index">
  <div class="group-inner">
    <p><%= link_to "Regresar a la comunidad", publications_path %></p>
    <h1>Gramática:</h1>
    <div>
      <div id="text-grammar">
        <textarea rows="4" cols="45"></textarea>
      </div>
      <div class="button-div">
        <button type="button" class="grammar-button">Verificar la gramática</button>
      </div>
      <div id="errors"></div>
      <div><h3 id="text-checked"></h3></div>
    </div>
  </div>
</div>