<h1>Lista de compras</h1>
<h3>Me falta en la casa:</h3>
<div>
  <%= form_for :grosery, url: groseries_index_path, html: { class: "grosery-form", remote: true } do |f| %>
    <p>
      <%= f.text_field :name, class: "text-todo" %>
    </p>
    <p>
      <%= f.submit "Guardar" %>
    </p>
  <% end %>