<div class="grosery-each" id="grosery<%= @grosery.id %>">
  <h3 class="grosery-name"><%= @grosery.name %></h3>
  <p class="grosery-done">Hecho</p>
  <p>/</p>
  <p class="grosery-delete">Borrar</p>
</div>