<div class="group-index under-nav">
  <div class="community-index">
    <!-- nav for community -->
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <!-- back button -->
      <%= render "spaces/back_community_button" %>
      <!-- weather data -->
      <%= render "weather.html.erb" %>
    </div>
  </div>
</div>