<h1>Translater:</h1>
<div>
  <div>
    <input type="radio" id="en-es" name="drone" checked />
    <label for="es-en">English -> Spanish</label>
  </div>
  <div>
    <input type="radio" id="es-en" name="drone" />
    <label for="en-es">Spanish -> English</label>
  </div>
  <div id="text-to-translate">
    <textarea rows="4" cols="45" class="textarea"></textarea>
  </div>
  <div class="button-div">
    <button type="button" class="translate-button">Translate</button>
  </div>
  <div id="text-translated"></div>
</div>