<div class="under-nav group-index">
  <div class="community-index">
    <!-- nav for community -->
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <!-- back button -->
      <%= render "spaces/back_community_button" %>
      <!-- form for translater -->
      <%= render "form.html.erb" %>
    </div>
  </div>
</div>