<div class="under-nav container">
  <p><%= link_to "Regresar a la comunidad", publications_path %></p>
  <h1>Traductor:</h1>
  <div>
    <div>
      <input type="radio" id="en-es" name="drone" checked />
      <label for="es-en">Ingles -> Espanol</label>
    </div>
    <div>
      <input type="radio" id="es-en" name="drone" />
      <label for="en-es">Espanol -> Ingles</label>
    </div>
    <div class="text-to-translate">
      <textarea rows="4" cols="50"></textarea>
    </div>
    <div class="button-div">
      <button type="button" class="translate-button">Click Me!</button>
    </div>
    <div class="text-translated"></div>
  </div>
</div>