<div class="under-nav group-index">
  <div class="community-index">
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <%= render "spaces/back_community_button" %>
      <%= render "form.html.erb" %>
    </div>
  </div>
</div>