<div class="course-index">
    <% if check_user(current_user) == Admin %>
    <p class="teacher-show-text">Click aqui para ver los Instructores</p>
    <div class="teacher-show-all">
        <%= render "teachers_all" %>
    </div>
    <p class="admin-show-text">Click aqui para ver los Admins</p>
    <div class="admin-show-all">
        <%= render "admins/admin_all" %>
    </div>
    <% end %>
    <div>
        <%= render "talks/talks.html.erb" %>
    </div>
    <!-- <p><%= link_to "Pagina de Inicio", root_path %></p> -->
</div>