<div class="footer_barra text-center">
  <p>Para ingresar a los curos necesitas estar registrado en una classe de Supérate y Triunfa</p>
  <p>Supérate y Triunfa <i class="far fa-registered"></i> es marca registrada de Parents Alliance</p>
  <p>2018 <i class="far fa-copyright"></i> Todos los derechos reservados</p>
</div>