<h1>Todo list</h1>
<h3>I need to:</h3>
<div>
  <%= form_for :todo, url: todos_path, html: { class: "todo-form", remote: true } do |f| %>
    <p>
      <%= f.text_field :name, class: "text-todo" %>
    </p>
    <p>
      <%= f.submit "Save" %>
    </p>
  <% end %>