<h1>Lista de tareas</h1>
<h3>Tengo que hacer:</h3>
<div>
  <%= form_for :todo, url: todos_path do |f| %>
    <p>
      <%= f.text_field :name, class: "text-todo" %>
    </p>
    <p>
      <%= f.submit "Guardar" %>
    </p>
  <% end %>
</div>