<p><%= link_to 'Regresar', root_path, class: "btn btn-sm back-button" %></p>
<h1>Cursos</h1>
<p><%= link_to "Clic aquí para descargar los datos de todos los Cursos", courses_path(format: :xlsx) %></p>
<input type="text" class="mySearch" id="courseTableSearch" placeholder="Buscar por Nombre..">
<br>