<p><%= link_to 'Back', root_path, class: "btn btn-sm back-button" %></p>
<h1>Courses</h1>
<p><%= link_to "Click here to download the data of all the Courses", courses_path(format: :xlsx) %></p>
<input type="text" class="mySearch" id="courseTableSearch" placeholder="Search by name..">
<br>