
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";



// Font Variables

// $sans-condensed: 'Bookman', serif;
// $sans-raleway: 'Open Sans', sans-serif;
$title: 'Hammersmith One', sans-serif;
$titletext: 'Roboto', sans-serif;


// Styles
body {
  // font-family: $sans-condensed;
  // font-weight: normal;
}

// color variables
$links-hover: #A1B8E3;
$chat-table-even: white;
$chat-table-odd: white;
$index-color: #567FCE;
$background-all: #EBF0F9;
$background-index: #2C5197;

 
// border variable
$border-radius: 2%;

a {
  color: black;
}

a:hover {
  color: $links-hover;
  text-decoration: none;
}

.cont-index {
  width: 80vw;
  margin: auto;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  // word-break: break-all;
  /* Instead use this non-standard one: */
  // word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 767px) {
  .cont-index {
    width: 100vw;
  }
}