// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.article-index {
  width: 80%;
}

.article-title {
  height: 60px;
  background-color: $links-hover;
  text-align: center;
  color: white;
  font-family: $title !important;
  font-size: 150%;
  letter-spacing: 0.10em;
  padding: 20px;
}

.body-article {
  width: 250px;
}

.text-article {
  width: 250px;
  height: 100px;
}

.article-body {
  text-align: initial;
  white-space: pre-line;
}

.articel-links-to-mail {
  display: flex;
  justify-content: space-between;
}

.mails-table {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  #user-table td:nth-child(10),
  #user-table th:nth-child(10) {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  #user-table td:nth-child(5),
  #user-table th:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  #user-table td:nth-child(2),
  #user-table th:nth-child(2),
  #user-table td:nth-child(4),
  #user-table th:nth-child(4),
  #user-table td:nth-child(6),
  #user-table th:nth-child(6),
  #user-table td:nth-child(7),
  #user-table th:nth-child(7),
  #user-table td:nth-child(8),
  #user-table th:nth-child(8),
  #user-table td:nth-child(10),
  #user-table th:nth-child(10) {
    display: none;
  }
}