// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.assignment-points-field {
  width: 40px;
}

.assignment-text-field {
  width: 200px;
}

#assignment-table {
  width: 40%;
}

.assignment-show {
  margin-top: 60px;
}

#assignment-table-users {
  width: 40%;
}

@media only screen and (max-width: 767px) {
  #assignment-table {
    width: 100%;
  }

  #assignment-table-users {
    width: 100%;
  }
}