@import "application";


.chats:nth-of-type(even) {
    background: $chat-table-even;
}

.chats:nth-of-type(odd) {
    background: $chat-table-odd;
}

#chat-table {
}

.forum-title {
    background: $chat-table-even;
}