// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chats:nth-of-type(even) {
    background: #eaf9fe;
}

.chats:nth-of-type(odd) {
    background: #d9f4fd;
}

#chat-table {
}

.forum-title {
    background: #eaf9fe;
}