@import "application";


.chats:nth-of-type(even) {
  background: $chat-table-even;
}

.chats:nth-of-type(odd) {
  background: $chat-table-odd;
}

.forum-title {
  background: $chat-table-even;
}

.chat-user {
  display: flex;
}

.like {
  flex: 10%;
}

.user-name {
  flex: 90%;
}

.add-like {
  margin-right: 15px;
}

.just-info {
  display: none;
}