@import "application";

.comment {
    display: flex;
}

.comments {
    display: none;
}

.comment:hover {
    cursor: pointer;
}

.comment-text {
    width: 10em;
    height: auto;
}

.comments-all {
    color: grey;
    border-top: 1px solid grey;
    text-align: left;

}

.comments-all:nth-of-type(odd) {
    background: $chat-table-even;
}

.comments-all:nth-of-type(even) {
    background: $chat-table-odd;
}