@import "application";

.under-nav {
    margin-top: 60px;
}

#course-table {
    width: 50%;
}

#new-course {
    width: 150px;
}

#new-course:hover {
    cursor: pointer;
    color: $links-hover;
}

#new-course-hidden {
    display: none;
}

#edit-course {
    width: 150px;
}

#edit-course:hover {
    cursor: pointer;
    color: $links-hover;
}

#edit-course-hidden {
    display: none;
}


@media only screen and (max-width: 600px) {
    #course-table {
        width: 100%;
    }

    #course-table td:nth-child(1),
    #course-table th:nth-child(1) {
        display: none;
    }

}