@import "application";

.under-nav {
  padding-top: 60px;
}

#new-course {
  width: 150px;
}

#new-course:hover {
  cursor: pointer;
  color: $links-hover;
}

#new-course-hidden {
  display: none;
}

#edit-course {
  width: 150px;
}

#edit-course:hover {
  cursor: pointer;
  color: $links-hover;
}

#edit-course-hidden {
  display: none;
}

.course-index {
  background: $background-all;
  min-height: 100vh;
  height: 100%; 
}

.course-inner {
  width: 80%;
  margin: auto;
}


@media only screen and (max-width: 600px) {
    #course-table {
        width: 100%;
    }

    #course-table td:nth-child(1),
    #course-table th:nth-child(1),
    #course-table td:nth-child(3),
    #course-table th:nth-child(3),
    #course-table td:nth-child(4),
    #course-table th:nth-child(4) {
        display: none;
    }

}