// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-new-folder {
    display: none;
}

.create-new-folder-text:hover {
    cursor: pointer;
    color: #4FC3F7;
}

.add-papper {
    display: none;
}

.folders:hover {
    cursor: pointer;
    color: #4FC3F7;
}