@import "application";

.create-new-folder {
  display: none;
}

.create-new-folder-text {
  display: inline-block;
}

.create-new-folder-text:hover {
  cursor: pointer;
  color: $links-hover;
}

.add-papper {
  display: none;
}

.folders:hover {
  cursor: pointer;
  color: $links-hover;
}

.folders-table {
  width: 40%;
}

.folders-table tr td:nth-child(1)
.folders-table tr td:nth-child(2)
.folders-table tr td:nth-child(4)
.folders-table tr td:nth-child(5) {
  width: 10%;
}

.folders-table tr td:nth-child(3) {
  width: 70%;
}

@media screen and (max-width: 767px) {
  .folders-table {
    width: 90%;
  }
}