@import "application";

.group-index {
  background: $background-all;
  min-height: 100vh;
  height: 100%; 
}

.group-inner {
  width: 80%;
  margin: auto;
}

#new-group {
  width: 150px;
}

#new-group:hover {
  cursor: pointer;
  color: $links-hover;
}

#new-group-hidden {
  display: none;
}

#edit-group {
  width: 150px;
}

#edit-group:hover {
  cursor: pointer;
  color: $links-hover;
}

#edit-group-hidden {
  display: none;
}

#group-table-show {
  width: 100%;
}

#igroup-table-show {
  width: 100%;
}

@media screen and (max-width: 900px) {

  #groupTableTable td:nth-child(5),
  #groupTableTable th:nth-child(5),
  #groupTableTable td:nth-child(6),
  #groupTableTable th:nth-child(6),
  #groupTableTable td:nth-child(7),
  #groupTableTable th:nth-child(7),
  #groupTableTable td:nth-child(8),
  #groupTableTable th:nth-child(8),
  #groupTableTable th:nth-child(9),
  #groupTableTable td:nth-child(9),
  #groupTableTable td:nth-child(10),
  #groupTableTable th:nth-child(10),
  #groupTableTable td:nth-child(11),
  #groupTableTable th:nth-child(11) {
    display: none;
  }

  #group-table-show td:nth-child(1),
  #group-table-show th:nth-child(1),
  #group-table-show td:nth-child(5),
  #group-table-show th:nth-child(5),
  #group-table-show td:nth-child(6),
  #group-table-show th:nth-child(6),
  #group-table-show td:nth-child(7),
  #group-table-show th:nth-child(7),
  #group-table-show td:nth-child(8),
  #group-table-show th:nth-child(8),
  #group-table-show td:nth-child(9),
  #group-table-show th:nth-child(9)  {
    display: none;
  }

  #igroup-table-show td:nth-child(5),
  #igroup-table-show th:nth-child(5),
  #igroup-table-show td:nth-child(6),
  #igroup-table-show th:nth-child(6),
  #igroup-table-show td:nth-child(7),
  #igroup-table-show th:nth-child(7),
  #igroup-table-show td:nth-child(8),
  #igroup-table-show th:nth-child(8),
  #igroup-table-show td:nth-child(9),
  #igroup-table-show th:nth-child(9),
  #igroup-table-show td:nth-child(10),
  #igroup-table-show th:nth-child(10),
  #igroup-table-show td:nth-child(11),
  #igroup-table-show th:nth-child(11),  {
    display: none;
  }
  #group-table-show {
    width: 100%;
  }
    
  #igroup-table-show {
    width: 100%;
  }
}