@import "application";

.all-folders {
  width: 100vw;
}

.library-index {
  background: $background-all;
  min-height: 100vh;
  height: 100%;
}

.library-innert {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .all-folders {
    width: 95%;
  }
}