// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.papers-all {
    display: none;
}

.papers-text:hover {
    cursor: pointer;
    color: #4FC3F7;
}