// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.community-index {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.community-forum {
  flex-grow: 3;
  text-align: center;
}

.list {
  flex-grow: 1;
}

.list li {
  list-style: none;
}

.community-flyers {
  margin-top: 10px;
  flex-grow: 2;
}

.comunidad-index {
  width: 70%;
  margin: auto;
}

.link-button {
  color: white;
  background-color: $index-color;
  margin: 2px;
  width: 110px;
  height: 110px;
  border-radius: 20px;
}

.link-button:hover {
  cursor: pointer;
  background-color: white;
}

.back-button {
  background-color: $index-color;
  margin: 2px;
  width: 200px;
  border-radius: 20px;
}

.back-button:hover {
  cursor: pointer;
  background-color: white;
}

.images-link-comunity {
  height: 70px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .community-index {
    flex-direction: column;
  }
}
