// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.form-resource {
  text-align: center;
}

.slide-div-complete {
  height: 400px;
  display: flex;
}

#slideshow { 
    margin: auto; 
    position: relative; 
    width: 80%; 
    height: 240px; 
    // padding: 10px; 
    // box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    // top: 0px; 
    left: 10px; 
    right: 10px; 
    // bottom: 10%;
}

.triangleright {
  margin: auto 5px auto 0 ;
  border-right: 10px solid $index-color; 
  border-bottom: 10px solid $index-color;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
}

.triangleleft {
  margin: auto 0 auto 5px ;
  border-right: 10px solid $index-color; 
  border-bottom: 10px solid $index-color;
  height: 30px;
  width: 30px;
  transform: rotate(135deg);
}

.triangleright-course {
  margin: auto 5px auto 0 ;
  border-right: 10px solid white; 
  border-bottom: 10px solid white;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
}

.triangleleft-course {
  margin: auto 0 auto 5px ;
  border-right: 10px solid white; 
  border-bottom: 10px solid white;
  height: 30px;
  width: 30px;
  transform: rotate(135deg);
}