// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.file-field {
  margin: 0 auto;
}

.text-area {
  width: 100%;
  height: 80px;
}

.flyer_forum {
  display: flex;
}

.message-body {
  text-align: initial;
  white-space: pre-line;
}

.show-room {
  background: $background-all;
  height: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 900px) {
  .flyer_forum {
    flex-direction: column;
  }
}

