// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.space-button {
  color: white;
  background-color: $index-color;
  margin: 2px;
  width: 370px;
  border-radius: 20px;
  font-size: 1.2em !important;
  letter-spacing: 0.10em;
}

.space-button:hover {
  cursor: pointer;
  background-color: white;
}

.publication-themes {
  flex-grow: 1;
}

.create-theme {
  flex-grow: 1;
}

.active {
  color: black;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .publication-themes {
    margin: auto;
  }
  .create-theme {
    margin: auto;
  }
  .back-comunity {
    display: none;
  }
}