// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.space-button {
  color: white;
  background-color: $index-color;
  margin: 2px;
  width: 200px;
  border-radius: 20px;
}

.space-button:hover {
  cursor: pointer;
  background-color: white;
}