// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-avatar {
    height: 20px;
    width: 20px;
}

.new-student {
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    margin-right:35%;
}

.student-index {
    margin-top: 60px;
}

@media only screen and (max-width: 600px) {
    .new-student {
        font-size: 1.2em;
    }
}