// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-avatar {
    height: 20px;
    width: 20px;
}

.new-student {
    text-align: center;
    margin-top: 200px;
    font-size: 1.5em;
    margin-right:35%;
}

.student-index {
    margin-top: 60px;
}

.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .pretty th .asc {
    background-image: url(/images/up_arrow.gif);
  }
  
  .pretty th .desc {
    background-image: url(/images/down_arrow.gif);
  }

  

@media only screen and (max-width: 600px) {
    .new-student {
        font-size: 1.2em;
    }
}