// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-avatar {
  height: 20px;
  width: 20px;
}

.new-student {
  text-align: center;
  padding-top: 100px;
  font-size: 1.5em;
  margin-right:35%;
}

@media screen and (max-width: 1300px) {
  #studentTableTable td:nth-child(9),
  #studentTableTable th:nth-child(9) {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  #studentTableTable td:nth-child(5),
  #studentTableTable th:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  #studentTableTable td:nth-child(2),
  #studentTableTable th:nth-child(2),
  #studentTableTable td:nth-child(4),
  #studentTableTable th:nth-child(4),
  #studentTableTable td:nth-child(6),
  #studentTableTable th:nth-child(6),
  #studentTableTable td:nth-child(7),
  #studentTableTable th:nth-child(7),
  #studentTableTable td:nth-child(8),
  #studentTableTable th:nth-child(8),
  #studentTableTable td:nth-child(10),
  #studentTableTable th:nth-child(10) {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .new-student {
    font-size: 1.2em;
  }
}

