@import "application";

.conv-title {
  background-color: $chat-table-even;
  display: flex;
  justify-content: space-between;
}

.conv-x {
  cursor: pointer;
}

.body-conver {
  padding-right: 10px;
}

.online-in {
  width: 80%;
}