// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conv-name {
    

}

.conv-title {
    background-color: #BDBDBD;
    display: flex;
    justify-content: space-between;
}

.conv-x {
    cursor: pointer;
}