// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.task-index {
  display: flex;
}

.task-full {
  background: $background-all;
  height: 100%;
  min-height: 100vh;
}

.task-assignments {
  flex-grow: 1;
}

.task-tasks {
  text-align: center;
  flex-grow: 3;
}

@media only screen and (max-width: 900px) {
  .task-index {
      flex-direction: column;
  }
}