// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#teacher-table {
    width: 100%;
}

#new-teacher {
    width: 150px;
}

#new-teacher:hover {
    cursor: pointer;
    color: #4FC3F7;
}

#new-teacher-hidden {
    display: none;
}

.edit-teacher {
    margin-top: 60px;
    text-align: center;
}

.teacher_show {
    display: flex;
    justify-content: space-around;
}