@import "application";

.image-weather {
  width: 50px;
  height: auto;
}

.unit {
  font-size: 50%;
}

.unit:hover {
  cursor: pointer;
  color: $links-hover;
}

.temp {
  display: flex;
  flex-direction: row;
}