// welcome page without current user

#index-home {
    width: 100%;
    height: auto;
    padding: 250px 0;
    text-align: center;
    background: url("home.jpg") no-repeat top center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.program {
    width: 20em;
    height: 15em;
    background-color:rgba(179,229,252, 0.5);
    margin-left: 60%;
    display: table;
    
}

.program p {
    font-size: 1em;
}

.program-child {
    display: table-cell;
    vertical-align: middle;
}

.courses-title {
    margin-top: 40px;
    text-align: center;
}

#courses {
    display: flex;
    justify-content: space-around;
}

.items-courses {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.course-img {
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
}

.course-img:hover { 
    transform: scale(1.1); 
}

.links-home {
    background-color: #EEEEEE;
}

.links-title {
    text-align: center;
    padding-top: 40px;
}

.things-title {
    width: 100%;
    height: 50px;
    background-color: #B3E5FC;
    margin-top: 30px;
    text-align: center;
}

.home-currentuser {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.currentuser-item-size-one {
    flex-grow: 1;
}

.currentuser-item-size-two {
    flex-grow: 3;
}

.currentuser-item-size-one p {
    width: 150px;
}



.all-rooms {
    margin-top: 60px;
    text-align: center;
}


#who-is-online {
    display: none;
}

#who-is:hover {
    cursor: pointer;
    color: #4FC3F7;
}

.edituser {
    margin-top: 60px;
    text-align: center;
}


// login and registration

.flex-container {
    display: flex;
    justify-content: center;
}

.item-login {
    margin: 15%;
}

.logo_login {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .item-login {
        margin: 5%;
    }

    .program {
        margin: auto;
    }

    .course-img {
        width: 50px;
        height: 50px;
    }

    .logo_login {
        width: 80%;
        height: auto;
    }

    .home-currentuser {
        flex-direction: column;
    }
    .course-text-desc {
        font-size: 30%;
    }

    .course-text-desc h3 {
        font-size: 160%;
    }
}