// welcome page without current user

#index-home {
    width: 100%;
    height: auto;
    padding: 250px 0;
    text-align: center;
    background: url("home.jpg") no-repeat top center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.programa {
    width: 20em;
    height: 15em;
    background-color: #E1F5FE;
    margin-left: 60%;
    display: table;
    
}

.programa p {
    font-size: 1em;
}

.programa-child {
    display: table-cell;
    vertical-align: middle;
}

#courses-title {
    width: 100%;
    height: 50px;
    background-color: #E1F5FE;
    margin-top: 20px;
    text-align: center;
}

#courses {
    display: flex;
    justify-content: center;
}




// login and registaration

.flex-container {
    display: flex;
    justify-content: center;
}

.item-login {
    margin: 15%;
}

.logo_login {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .item-login {
        margin: 5%;
    }

    .programa {
        margin: auto;
    }
}