
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDathP7IQ65H1iVDU9tE2oiu7hiMnq0Gcc&callback=initMap">
</script>
<div class="under-nav group-index">
  <div class="community-index">
    <!-- nav for community -->
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <!-- back button -->
      <%= render "spaces/back_community_button" %>
      <!-- map -->
      <style> #map { height: 50vh; width: 60vw; } </style>
        <div> <div id="map"></div> </div>
        <script>
        function initMap() {
            var place = {lat: 29.813632, lng: -95.445604};
            var map = new google.maps.Map(document.getElementById('map'), {     zoom: 5,     center: place     });
            var marker = new google.maps.Marker({
              position: place,
              map: map,
              animation: google.maps.Animation.DROP,
              label: "H"
            });
              var marker = new google.maps.Marker({
              position: {lat: 29.519328, lng: -98.490174},
              map: map,
              animation: google.maps.Animation.DROP,
              label: "SA"
            });
        }
      </script>
    </div>
  </div>
</div>